
.title{
  font-family: cursive;
  text-align: center;
}



h1{
    text-align: center;
    font-family: cursive;
}

.images{
  text-align: right;
}

.pag2{
text-align: center;
display: none;
margin: 0.5em 3em 0.5em 3em;
padding: 2em;
}

.pag1{
  margin: 3em 3em 3em 3em;
  padding: 3em;
  border: 1px solid rgb(211, 205, 187)
}

input{
border: 2px solid rgb(49, 185, 209);
width: 300px;
height: 30px; 

}

.last {
  border: double black;
  width: 100px;
  height: 25px;
  }
